<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="row">
      <div class="col">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Weasel</a>
      </div>
    </div>

    <div class="col" align="right">
      <i class="fa fa-bars fa-2x text-white" (click)="openModal()"></i>
    </div>
  </nav>
</header>
