<header class="fixed-top ">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="row">
      <div class="col">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand logo" href="https://weasel.herokuapp.com/">weasel</a>
      </div>
    </div>

    <div id="searchService" class="col tooltip-ws" align="right" [hidden]="isNotRunneable() || isRunning">
      <i class="fa fa-bars fa-2x text-white" (click)="openModal()">
        <span class="tooltiptext">Search services</span>
      </i>
    </div>
  </nav>
  <nav class="navbar navbar-toggleable-md submenu bg-faded" *ngIf="folder">
    <div class="col-md-8">
      <h4 class="text-muted">{{folder.name}}</h4>
    </div>

    <div class="col-md-4" align="right" *ngIf="folder.content.length || hasGroups()">
      <i class="fa fa-download" aria-hidden="true"></i>
      <a href="#" (click)="export()">Export this Folder</a>
    </div>
    <div class="col-md-2" align="right" [hidden]="folder.content.length || hasGroups()">
      <input id="fileInput" type="file" [hidden]="true" (change)="fileChanged($event)">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <a href="#" (click)="searchFile('folder')">Import Folder</a>
    </div>
    <div class="col-md-2" align="right" [hidden]="folder.content.length || hasGroups()">
      <input id="fileInput" type="file" [hidden]="true" (change)="fileChanged($event)">
      <i class="fa fa-upload" aria-hidden="true"></i>
      <a href="#" (click)="searchFile('HAR')">Import HAR</a>
    </div>
  </nav>
</header>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmIncludeRests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>¿Desea incluir los rest de esta importación a la lista?</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="import(true)">Sí</button>
        <button type="button" class="btn btn-default" (click)="import(false)">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Nombre de folder HAR -->
<div class="modal fade" id="setNameHARFolder" tabindex="-1" role="dialog" aria-labelledby="folderModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Folder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name</label>
          <input  type="text" value="" class="form-control" placeholder="My folder" [(ngModel)]="folderHAR">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="import(false)">Save</button>
      </div>
    </div>
  </div>
</div>
