<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <div class="row">
    <div class="col-md-1 pt-2">
      <a class="navbar-brand tooltip-ws" href="#">
        <img src="../assets/weasel-logo-inverse.png" width="50" height="30" class="d-inline-block align-top" alt="">
        <span class="tooltiptext">Grrruuii!?</span>
      </a>
    </div>
    <div class="col-md-5 pt-3">
      <app-breadcrumb [directories]="directories" [folder]="folder" (folderChange)="emitParent($event)"></app-breadcrumb>
    </div>
    <div class="col-md-4 pt-2">
      <div class="row">
        <div class="col">
          <i class="fa fa-folder-o fa-2x text-white tooltip-ws" aria-hidden="true" data-toggle="modal" data-target="#folderModal" [hidden]="$isStarted">
            <span class="tooltiptext">New folder</span>
          </i>
          <i class="fa fa-folder-o fa-2x text-muted" aria-hidden="true" [hidden]="!$isStarted"></i>
        </div>
        <div class="col">
          <i class="fa fa-plus fa-2x text-white tooltip-ws" aria-hidden="true" data-toggle="modal" data-target="#restModal" [hidden]="$isStarted">
            <span class="tooltiptext">New service rest</span>
          </i>
          <i class="fa fa-plus fa-2x text-muted" aria-hidden="true" [hidden]="!$isStarted"></i>
        </div>
        <div class="col">
          <i class="fa fa-cog fa-2x text-white tooltip-ws" aria-hidden="true" data-toggle="modal" data-target="#optionsModal" [hidden]="$isStarted">
            <span class="tooltiptext">Change port</span>
          </i>
          <i class="fa fa-cog fa-2x text-muted" aria-hidden="true" [hidden]="!$isStarted"></i>
          <samp class="text-white" id="port"></samp>
        </div>
      </div>
    </div>
    <div class="col-md-2 pt-2" align="right">
      <app-switch [folder]="folder" (isStarted)="$isStarted=$event"></app-switch>
      <h1 class="text-white"></h1>
    </div>
  </div>
</nav>
