<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <div class="row">
    <div class="col-md-1">
      <a class="navbar-brand" href="#">
        <img src="../assets/weasel-logo-inverse.png" width="50" height="30" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="col-md-5 pt-2">
      <app-breadcrumb [directories]="directories" [folder]="folder" (folderChange)="emitParent($event)"></app-breadcrumb>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <i class="fa fa-pencil-square-o fa-2x text-white" aria-hidden="true" data-toggle="modal" data-target="#restModal"></i>
        </div>
        <div class="col">
          <i class="fa fa-folder-o fa-2x text-white" aria-hidden="true" data-toggle="modal" data-target="#folderModal"></i>
        </div>
        <div class="col">
          <i class="fa fa-plus fa-2x text-white" aria-hidden="true" data-toggle="modal" data-target="#restModal"></i>
        </div>
        <div class="col">
          <i class="fa fa-cog fa-2x text-white" aria-hidden="true" data-toggle="modal" data-target="#optionsModal"></i>
          <samp class="text-white" id="port"></samp>
        </div>
      </div>
    </div>
    <div class="col-md-2" align="right">
      <app-switch [folder]="folder"></app-switch>
    </div>
  </div>
</nav>
