<div class="">
  <div class="row">
    <div class="col-md-10">
      <span class="badge badge-pill badge-{{badgeState}}">{{rest.status}}</span>
      <h5>&nbsp;{{rest.name}}</h5>
    </div>
    <div class="col-md-2">
      <i class="fa fa-eye fa-1 col-md-4" (click)="openJson()" [ngClass]="{'grey' : !isOpen, 'text-info' : isOpen}"></i>
      <i class="fa fa-pencil grey fa-1 col-md-4" (click)="openEditModal()"></i>
      <i class="fa fa-times grey fa-1 col-md-3" (click)="removeRest()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{rest.path}}</p>
    </div>
  </div>
</div>
<app-json-formatter [hidden]="!isOpen" [json]="rest.response" [isOpen]="true"></app-json-formatter>
<hr>

<!-- Create Rest -->
<div class="modal fade" id="editRestModal-{{rest.name}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Rest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" placeholder="My rest" [(ngModel)]="_newRest.name">
        </div>

        <div class="form-group">
          <label for="path">Path (without domain)</label>
          <input class="form-control" placeholder="/list/users" [(ngModel)]="_newRest.path">
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" [(ngModel)]="_newRest.status">
            <option *ngFor="let status of statusList.LIST_STATUS" [ngValue]="status.code">{{status.code}} - {{status.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="response">Response (deshabilitado)</label>
          <textarea class="form-control" rows="10" placeholder="{json:'example'}" [(ngModel)]="_newRest.response"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editRest()">Save</button>
      </div>
    </div>
  </div>
</div>
