ul {
  background-color: rgb(30, 30, 30);
}

ul li {
  list-style-type: none;
}

li p {
  display: inline;
}

.toggler {
  color: white;
  line-height: 1.2rem;
  font-size: 0.7rem;
  vertical-align: middle;
  opacity: 0.6;
  padding-right: 0.2rem;
}

.toggler:after {
  display: inline-block;
  transition: transform 300ms ease-in;
  content: "\25b6";
}

.open > .toggler:after{
  transform: rotate(90deg);
}

.attribute {
  color: #23A0DB;
}
.red {
  color: #EC4242;
}

.green {
  color: #31F031;
}

.blue {
  color: #66C2FF;
}

.yellow {
  color: #EEC97D;
}

.white {
  color: #fff;
}
