<header>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="">Weasel</a>
  </nav>
</header>
<div class="btn-group" role="group" aria-label="Basic example">
  <a routerLink="/company-list" routerLinkActive="active" class="btn btn-primary">home</a>
  <a routerLink="/company-detail" routerLinkActive="active" class="btn btn-primary">Detail</a>
  <a routerLink="/company-add" routerLinkActive="active" class="btn btn-primary">New</a>
</div>

<router-outlet></router-outlet>
