<div>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input class="form-control" placeholder="Your name rest..." [(ngModel)]="_rest.name">
    <small id="emailHelp" class="form-text text-muted">Un nombre descriptivo.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Path</label>
    <input class="form-control" placeholder="Your name rest..." [(ngModel)]="_rest.path">
    <small id="emailHelp" class="form-text text-muted">Un nombre descriptivo.</small>
  </div>
  <!--<div class="form-group">
    <label for="exampleSelect1">Type</label>
    <select class="form-control" [(ngModel)]="_rest.type">
      <option>GET</option>
      <option>POST</option>
      <option>PUT</option>
      <option>DELETE</option>
    </select>
  </div>-->
  <div class="form-group">
    <label for="exampleSelect2">Response (deshabilitado)</label>
    <textarea class="form-control" rows="10" placeholder="{json:'example'}" [(ngModel)]="_rest.response"></textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="addRest()">Submit</button>
</div>
