<app-header [isRunning]="$isRunning" [folder]="$folder" (folderChange)="$folder=$event"></app-header>
<body class="p-5">
  <app-list [isRunning]="$isRunning" [folder]="$folder" (folderChange)="folderChange($event)"></app-list>
</body>

<app-footer [directories]="breadcrumb" [folder]="$folder" [isRunning]="$isRunning" (isRunningChange)="$isRunning=$event" (folderChange)="$folder=$event"></app-footer>

<img id="pbjt" src="assets/pbjt.gif" alt="" class="pbjt">

<app-search [folder]="$folder" (folderChange)="$folder=$event"></app-search>

<!-- todo: Debería funcionar cómo un método estatico -->
<button id="generateGroupRadios" [hidden]="true" (click)="generateGroupRadios()"></button>



