
<div class="" *ngIf="folder">
  <input type="text" value="" [(ngModel)]="newFolder.name">
  <button type="button" class="btn btn-primary" (click)="createFolder()">Create Folder</button>
  <h1>{{folder.name}}</h1>

  <nav class="breadcrumb">
    <ol *ngFor="let directory of breadcrumb">
      <li (click)="navigate(directory)"> / {{directory}}</li>
    </ol>
  </nav>

  <div class="" *ngIf="folder.content.length">
    <button type="button" class="btn btn-primary" (click)="startRest()">Start</button>
    <button type="button" class="btn btn-primary" (click)="stopRest()">Stop</button>
    <div class="test" *ngFor="let rest of folder.content">
      <app-rest [rest]="rest"></app-rest>
    </div>
  </div>
  <div class="" *ngIf="folder.folders.length">
    <div class="test" *ngFor="let folder of folder.folders">
      <app-folder [folder]="folder" (click)="getFolder(folder)"></app-folder>
    </div>
  </div>
</div>
