
<div class="container mx-auto" *ngIf="folder">
  <div class="" *ngIf="folder.folders.length">
    <div *ngFor="let folderChild of folder.folders" class="folder">
      <app-folder [folder]="folderChild" [folderParent]="folder" (folderChange)="emitParent($event)"></app-folder>
    </div>
  </div>

  <div class="" *ngIf="folder.content.length">
    <div *ngFor="let rest of folder.content">
      <app-rest [folder]="folder" [rest]="rest" (folderChange)="emitParent($event)"></app-rest>
    </div>
  </div>
</div>
