.folder{
  cursor: pointer;
  color: #909090;
}

.folder:hover{
  font-size: x-large;
  color: #000;
}

.rest:hover{
  font-size: x-large;
  color: #000;
}

.container{
  bottom: 3em;
  padding-top: 9%;
}
