<div class="form-group">
  <input [(ngModel)]="service.name" type="text" class="form-control" placeholder="Service Name">
</div>
<div class="form-group">
  <select [(ngModel)]="service.type" class="custom-select">
    <option value="GET">GET</option>
    <option value="POST">POST</option>
    <option value="PUT">PUT</option>
  </select>
</div>
<div class="form-group">
  <label>JSON</label>
  <textarea [(ngModel)]="service.body" class="form-control" rows="20"></textarea>
</div>
<button (click)="onSend()" type="button" class="btn btn-primary btn-lg btn-block">Send</button>
