body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

i{
  cursor: pointer;
}

/* Tooltip container */
.tooltip-ws {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-ws .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: initial;
    font-family: "Roboto";
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1.5s;
}

/* Tooltip arrow */
.tooltip-ws .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-ws:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
