<!-- Modal de los botones añadir -->
<app-add [folder]="folder" (folderChange)="emitParent($event)" (restChange)="getRests()"></app-add>

<!-- Off canvas del buscador -->
<div class="offcanvas" (appClickOutside)="dismiss">

  <div class="filters pr-4">
    <div class="row d-inline mb-4">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" (click)="changeFilterSearch()" href="#" role="tab">REST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="changeFilterSearch()" href="#" role="tab">FOLDER</a>
        </li>
      </ul>
    </div>
    <div class="row mb-4">
      <div class="col">
        <input id="search" class="form-control" type="text" placeholder="Search" [(ngModel)]="nameFilter">
      </div>
    </div>
  </div>

  <div class="row rests-container" [hidden]="isFilterRest">
    <div class="col">
      <div *ngFor="let rest of (rests | byname: nameFilter)">

        <div class="" (click)="validateToAdd(rest)" class="rests">
          <div class="row">
            <div class="col-md-10">
              <h4 class="">{{rest.name}}</h4>
            </div>
            <div class="col-md-2 delete">
              <i><small class="text-danger" (click)="openConfirm(rest, $event)">Delete</small></i>
            </div>
          </div>
          <div class="row margin-negative">
            <div class="col">
              <p class="">{{rest.path}}</p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="row folders-container" [hidden]="!isFilterRest">
    <div class="col">
      <div *ngFor="let folder of (folders | byname: nameFilter)" (click)="open(folder.name, folder, $event)">

        <div class="rests">
          <div class="row">
            <div class="col-md-10">
              <h4 id="folder-{{deleteSpaces(folder.name)}}">
                <span class="toggler"></span> {{folder.name}}
              </h4>
            </div>
            <div class="col-md-2 add">
              <i><small class="text-info" (click)="addGroup(folder, $event)">Add</small></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
              <!-- RESTS -->
              <div id="rest-of-folder-{{deleteSpaces(folder.name)}}" class="rest-of-folder">
                <div *ngFor="let rest of (folder.content | byname: nameFilter)">
                  <!--<div class="" (click)="validateToAdd(rest)">-->
                  <div class="row">
                    <div class="col-md-10">
                      <h6>
                        <span class="badge badge-pill badge-{{getStatusRest(rest)}}">
                          {{rest.status}}
                        </span>
                        {{rest.name}}
                      </h6>
                    </div>
                    <!--<div class="col-md-2">
                      <i><small class="text-danger" (click)="openConfirm(rest, $event)">Delete</small></i>
                    </div>-->
                  </div>
                  <div class="row margin-negative">
                    <div class="col">
                      <p class="">{{rest.path}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- RESTS -->
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmDeleteRest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>Este servicio se eliminará de todos los directorios donde fue agregado ¿Está seguro que desea eliminarlo?</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" (click)="deleteRest()">Aceptar</button>
        <button type="button" class="btn btn-primary" (click)="closeConfirm()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- ARREGLAR ESTA COCHINADA!!!!! -->
<button id="getRests" type="button" name="button" [hidden]="true" (click)="getRests()"></button>
<button id="getFolders" type="button" name="button" [hidden]="true" (click)="getFolders()"></button>
