#search{
  display: inline;
}

.rest-of-folder{
  display: none;
}

.rest-of-folder.open-toggler{
  display: block;
  background-color: #4a4a4a;
}

.rest-of-folder.open-toggler > div{
  padding: 1%;
}

.toggler {
  color: white;
  line-height: 1.2rem;
  font-size: 0.7rem;
  vertical-align: middle;
  opacity: 0.6;
  padding-right: 0.2rem;
}

.toggler:after {
  display: inline-block;
  transition: transform 300ms ease-in;
  content: "\25b6";
}

.open-toggler > .toggler:after{
  transform: rotate(90deg);
}

.pointer{
  cursor: pointer;
}

.offcanvas{
  position: fixed;
  top: 0;
  height: 100%;
  width: 45%;
  padding: 2%;
  background-color: #3b3e40;
  color: #FFF;
  left: 100%;
  transition: 600ms;
  overflow: scroll;
}

.open{
  transition: 600ms;
  left: 55%;
}

.rests:hover{
  background: rgba(59,62,64,1);
  background: -moz-linear-gradient(left, rgba(59,62,64,1) 0%, rgba(59,62,64,1) 0%, rgba(63,69,74,1) 52%, rgba(59,62,64,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(59,62,64,1)), color-stop(0%, rgba(59,62,64,1)), color-stop(52%, rgba(63,69,74,1)), color-stop(100%, rgba(59,62,64,1)));
  background: -webkit-linear-gradient(left, rgba(59,62,64,1) 0%, rgba(59,62,64,1) 0%, rgba(63,69,74,1) 52%, rgba(59,62,64,1) 100%);
  background: -o-linear-gradient(left, rgba(59,62,64,1) 0%, rgba(59,62,64,1) 0%, rgba(63,69,74,1) 52%, rgba(59,62,64,1) 100%);
  background: -ms-linear-gradient(left, rgba(59,62,64,1) 0%, rgba(59,62,64,1) 0%, rgba(63,69,74,1) 52%, rgba(59,62,64,1) 100%);
  background: linear-gradient(to right, rgba(59,62,64,1) 0%, rgba(59,62,64,1) 0%, rgba(63,69,74,1) 52%, rgba(59,62,64,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3e40', endColorstr='#3b3e40', GradientType=1 );
}

.offcanvas .fa{
  position: absolute;
  left: 90%;
  z-index: 1;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
